<app-header></app-header>
<main>
  <h2>Roll the Dice</h2>
  <p>
    <img *ngFor="let value of rollData.values"
         src="assets/images/dice/side_{{value}}.png" alt="side_{{value}}">
  </p>
  <p>
    <span class="total_label">Total:</span>&nbsp;
    <span class="total_number">{{rollData.total}}</span>
  </p>
  <p>
    <label for="c">Number of Dice:</label>&nbsp;
    <select id="c" #numberOfDice>
      <option>1</option>
      <option>2</option>
      <option selected>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </p>
  <p>
    <button (click)="onRollDice(parseInt(numberOfDice.value))">Roll Dice</button>
  </p>
</main>
<app-footer name="Applied Computing"></app-footer>
