<app-header></app-header>
<main>
  <ng-container [ngSwitch]="loadingState">
    <p class="message" *ngSwitchCase="LoadingState.LOADING">Loading the Roll Data (Fake Delay).</p>
    <p class="message" *ngSwitchCase="LoadingState.ERROR">Could not Load the Roll Data.</p>
  </ng-container>
  <h2>Roll the Dice</h2>
  <ng-container *ngIf="rollData !== undefined">
    <app-dice-display [diceValues]="rollData.values"></app-dice-display>
    <p>
      <span class="total_label">Total:</span>&nbsp;
      <span class="total_number">{{rollData.total}}</span>
    </p>
  </ng-container>
  <p>
    <label for="c">Number of Dice:</label>&nbsp;
    <select id="c" [(ngModel)]="numberOfDice">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </p>
  <p>
    <button (click)="onRollDice()">Roll Dice</button>
  </p>
</main>
<app-footer name="Applied Computing"></app-footer>
