<app-header></app-header>
<main>
  <h2>Roll the Dice</h2>
  <ng-container [ngSwitch]="loadingState">
    <div *ngSwitchCase="LoadingState.LOADING" class="loading-message">
      <mat-spinner></mat-spinner>
      <span class="message">Loading the Roll Data (Fake Delay).</span>
    </div>
    <p class="message" *ngSwitchCase="LoadingState.ERROR">
      Could not Load the Roll Data.
    </p>
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="rollData !== undefined" >
        <app-dice-display [diceValues]="rollData.values"></app-dice-display>
        <p>
          <span class="total_label">Total:</span>&nbsp;
          <span class="total_number">{{rollData.total}}</span>
        </p>
      </ng-container>
    </ng-container>
  </ng-container>
  <p style="margin-top: 3em">
    <mat-form-field appearance="outline">
      <mat-label>Number of Dice</mat-label>
      <mat-select [(ngModel)]="numberOfDice">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary" (click)="onRollDice()">Roll Dice</button>
  </p>

</main>
<app-footer name="Applied Computing"></app-footer>
