a{
  color: #0288D1;
  font-weight: bolder;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h2 {
  color: #00bcd4;
}

.total_label{
  color: #673ab7;
  font-size: larger;
  font-weight: bolder;
}

.total_number{
  font-size: larger;
  font-weight: bolder;
  color: #ff9800;
}

